* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
}

.col-6 {
    float: left;
    width: 16.6%;
    content:'';
}

.row:after {
    content: "";
    display: table;
    clear: both;
}