.footer{
    position: absolute;
    width:100%;
    height: 205px;
    border-top: 1px solid black;

    background-image: url('../../../assets/footerBg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

    text-align: right;
    .content{
        margin: 20px;
    }
}