<div class="footer">
  <div class="content">
    <span class="cart-font">Наши ссылки:</span>
  </div>
  <div class="content">
    <a href="https://www.twitch.tv/phenomengames" target="_blank">
      <img src="assets/VOROVSTVO/twitch-512.png" style="width: 55px; border-radius: 50%;" alt="">
    </a>
    <a href="https://vk.com/phenomengames" target="_blank">
      <img src="assets/VOROVSTVO/bottom_vk.png" alt="">
    </a>
    <a href="https://www.youtube.com/channel/UCry7Qvi6vpa_WiSiTuKXBWA" target="_blank">
      <img src="assets/VOROVSTVO/bottom_yt.png" alt="">
    </a>
  </div>
  <div class="content">
  </div>
</div>