$imgSizeWidth: 363px;

.chest{
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
    &:hover{
        transform: scale(1.1);
    }
}

.glow{
    opacity: 0;
    position: fixed;
    height: 900px;
    width: 1440px;
    left: -105%;
    top: -240px;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 2s ease;
    transition: top 0s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.aura{
    width: 85% !important;
    left: 40px;
    top: 25px;
    position: absolute;
    z-index: 9;
    width: $imgSizeWidth;
}