@font-face {
    font-family: 'Benguiat Rus Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Benguiat Rus Bold'), local('BenguiatRus-Bold'),
        url('benguiat.woff') format('woff'),
        url('benguiat.ttf') format('truetype');
}