<div>
  <div class="header panel-body">
    <div class="content row">
      <div class="ncol">
        <button class="btn" routerLink="/home">Предзаказ</button>
      </div>
      <div class="ncol">
        <button class="btn" routerLink="/feedback">Отзывы</button>
      </div>
      <div class="ncol-mid">
        &nbsp;
        <img class="logo" src="/assets/logo.png" />
      </div>
      <div class="ncol">
        <button class="btn" routerLink="/delivery">Доставка</button>
      </div>
      <div class="ncol">
        <button class="btn" routerLink="/cart">Корзина ({{_itemsInCart}})</button>
      </div>
    </div>
  </div>
  <div class="top-padding"></div>
</div>