.track-order{
    padding-top:20px;

    .order-scroll{
        width: 280px;
    }

    .inputs{
        & > * {
            font-size: 20px;
        }
        
        .input-field{
            width: 100%;
        }

        .bottom{
            padding-top: 40px;
            padding-bottom: 10px;
        }
    }

    .change-table{
        width:100%;
        padding-bottom: 10px;

        .change-base-info{
            padding: 10px;
            padding-right: 2px;
            margin: 0 auto;
            background-color: #333333a6;
        }
        .change-message{
            text-align: center;
        }
    }
}