$bg: url('../../../../../assets/panel2/panel2Bg.png');

.holder{
    transition: opacity 0.3s ease-in;
    opacity: 1;
    &.smoothShowing{
        opacity: 0;
    }
    &.hide{
        opacity: 0;
    }
    &.show{
        opacity: 1;
    }

    .header{
        width: 130px;
        margin: 0 auto;
        text-align: center;
        border: 10px solid transparent;
        border-image: url('../../../../../assets/cart/CartHeader.png') round;
        div{
            padding: 10px;
            p  {
                margin: 0px;
            }
            background-color: #424242;
        }
    }

    .panel{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 120px;

        border: 10px solid transparent;
        border-image-slice: 18;
        border-image-width: 10px;
        border-image-outset: 1;
        background-color: #4a3872 !important;
        border-image: url('../../../../../assets/cart/CartSlicePanel.png') round;

        .top{
            top: 232px;
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 149px; height: 110px;
            background: url('../../../../../assets/cart/cartTop.png');
        }

        .middle-content{
            background-size: cover;
            background-size: 100% 100%;
            background-image: $bg;

            padding: 15px;
            padding-bottom: 0px;
            border: 10px solid transparent;
            border-image-slice: 18;
            border-image-width: 10px;
            border-image-outset: 1;
            -o-border-image: url('../../../../../assets/cart/blueRamkas.png') round;
            border-image: url('../../../../../assets/cart/blueRamkas.png') round;

            .item-container{
                margin: 10px;
                border: 10px solid transparent;
                border-image: url('../../../../../assets/cart/cartItem.png') round;
                .content{
                    background-color: #b5a678;
                    .inline{
                        display: inline-block;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }   
}
.bottom{
    padding-top: 40px;
    padding-bottom: 40px;
    width:100%;
    text-align: center;
    button.slice{
        transition: transform 0.2s ease-in-out;
        transform: scale(1);

        padding: 10px;
        border: 10px solid transparent;
        background-color: #201b20 !important;
        border-image: url('../../../../../assets/panel2/btn.png') round;

        p{
            margin: 0;
            text-align: center;
            &:last-child{
                margin-top: 10px;
            }
        }

        &:active{
            transform: scale(0.95);
        }
    }
}